.container {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #ffffff;

    position: sticky;
    bottom: 0px;

    z-index: 10;

    font-family: 'Hangende Jeugd MARKER';

    &:before {
        content: '';
        position: absolute;
        top: -50px;
        bottom: -30px;
        left: 0px;
        right: 0px;

        background-image: url('/images/menubar.png');
        background-size: auto 100%;
        z-index: -1;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        transition: color 0.1s ease-in;

        &:hover {
            color: #d13535;
        }
    }
}