.container {
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100%;

    // TODO: fix margin
    margin-top: -100px;

    background-image: url('/images/hero.png');
    background-position: center center;
    background-size: cover;
}

@media(max-width: 768px){
  .container {
    margin-top: -50px;
  }
}
