// TODO: remove placeholder
.container {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
    padding: 100px;

    background: repeating-linear-gradient(45deg,#606dbc,#606dbc 10px,#465298 10px,#465298 20px);
    opacity: .5;

    h1 {

        color: #000000;
        font-size: 200px;
    }
}