.container {
    display: flex;
    flex: 1;
    min-height: calc(100vh - 100px);
}

.content {
    flex: 1;
    padding: 24px 32px;
}

.product_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
