.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 100px);
}

.content {
    flex: 1;
    min-height: 80vh;
}

.album_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 32px;
}
