@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/fonts/Trade Gothic LT.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/fonts/Trade Gothic LT Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/fonts/Trade Gothic LT Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'TradeGothic20';
  src: url('/fonts/TradeGothic20.otf');
  src: url('/fonts/TradeGothic20.eot?#iefix') format('embedded-opentype'),
       url('/fonts/TradeGothic20.woff') format('woff'),
       url('/fonts/TradeGothic20.ttf') format('truetype'),
       url('/fonts/TradeGothic20.svg#TradeGothic20') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic2';
  src: url('/fonts/TradeGothic2.otf');
  src: url('/fonts/TradeGothic2.eot?#iefix') format('embedded-opentype'),
       url('/fonts/TradeGothic2.woff') format('woff'),
       url('/fonts/TradeGothic2.ttf') format('truetype'),
       url('/fonts/TradeGothic2.svg#TradeGothic2') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
}

p {
  line-height: 1em;
}

a {
  line-height: 1em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

p {
  font-weight: bold;
}

b {
  text-transform: uppercase;
}
