.container {
  max-height: 100vh;
  height: 100vh;
  display: flex;
}

.body {
  height: 100vh;
  overflow-y: scroll;
  padding: 16px 32px;
  flex: 1;
}

@media(max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .body {
    padding: 16px;
    margin-bottom: 32px;
  }
}
