.wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemList {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: 768px;
  max-width: 100%;
}

.totals {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #000000;
  flex: 1;
  width: 768px;
  max-width: 100%;

  dt {
    font-weight: bold;
  }

  dd {
    padding-bottom: 16px;
    text-align: right;
  }

  .button {
    float: right;
  }
}

.checkout {
  text-decoration: underline;
  text-transform: uppercase;
  color: #EA3524;
  float: right;

  cursor: pointer;
  font-size: 24px;
  &:hover {
    color: #000000;
  }
}

@media(max-width: 768px) {
  .wrapper {
    padding: 16px;
  }
}
