.table {
  text-transform: uppercase;
  width: 700px;
  max-width: 100%;
  td {
    padding: 8px 0px;
    line-height: 1em;
    a {
      margin: 0px;
    }
  }
}

@media(max-width: 768px) {
  .table {
    width: auto;
  }
}
