.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;

  .product {
    // Make the div a square
    overflow: 0;
    padding-top: 100%;
    position: relative;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
    }

    &:hover .overlay {
      display: flex;
    }
  }
}
