.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
    padding: 24px 32px;
    font-size: 24px;
    text-align: center;

    a {
        text-decoration: underline;
        &:hover {
            opacity: .6;
        }
    }
}

.album_wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 768px) {
    .content {
        font-size: 18px;
    }
}