.productImage {
  position: absolute;
  transform: scale(1.2);
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.item {
  display: flex;
  flex: 1;
  padding: 8px;
}

.text {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.name {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #EA3524;
  cursor: pointer;

  &:hover {
    color: #000000;
  }
}

.option {
  font-size: 24px;
  font-weight: bold;

  // font-family: 'Hangende Jeugd VET';
}

.quantityWrapper {
  display: flex;
  align-items: center;

  input {
    border-radius: 0px;
    border: none;
    text-align: right;
    // border: 3px solid #000000;
    height: 48px;
    font-size: 32px;
  }
}

.price {
  display: flex;
  align-items: center;
  span {
    margin-right: 8px;
    font-size: 24px;
  }
}

.price button, .quantityWrapper button {
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  margin: 4px;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

@media(max-width: 768px) {
  .name, .price span, .option, .quantityWrapper input {
    font-size: 18px;
  }
  .image {
    float: left;
    clear: left;
    img {
      width: 64px;
    }
  }
  .price {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
