.container {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #ffffff;

    position: sticky;
    bottom: 0px;

    z-index: 10;

    font-weight: bold;
    // font-family: 'Trade Gothic LT', sans-serif;

    &:before {
        content: '';
        position: absolute;
        top: -50px;
        bottom: -30px;
        left: 0px;
        right: 0px;

        background-image: url('/images/menubar.png');
        background-size: auto 100%;
        z-index: -1;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        transition: color 0.1s ease-in;

        &:hover {
            color: #d13535;
        }
    }
}

.mobileToggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  transition: color 0.1s ease-in;

  &:hover {
      color: #d13535;
  }
}

@media(min-width: 769px){
  .mobileToggle {
    display: none;
  }
}

@media(max-width: 768px){
  .container {
    height: 50px;

    &:before {
      top: -20px;
      bottom: -20px;
  }
  }
  .nav {
    display: none;
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    top: 0px;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &.active {
      display: flex;
    }
  }
}
