.container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.cover {
    flex-basis: 420px;
    padding: 32px;
    cursor: pointer;

    img {
        width: 100%;
    }
}
.content {
    flex: 1;
    padding: 32px;
    flex-basis: 420px;
    font-weight: bold;
}

.stream {
    padding: 32px;
}

.button {
    display: flex;
    align-items: center;

    margin-bottom: 8px;
    padding: 8px 8px;

    background-color: #000000;
    color: #ffffff;

    font-weight: bold;

    &:hover {
        opacity: .8;
    }
    img {
        width: 36px;
        padding: 0px 4px;
    }
    span {
        padding: 4px;
    }
}

@media(max-width: 768px) {
  .content {
    padding: 16px;
  }
}
