.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 100px);
}

.content {
    flex: 1;
    min-height: 80vh;
}

.album_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
