@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/fonts/Trade Gothic LT.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/fonts/Trade Gothic LT Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/fonts/Trade Gothic LT Bold.ttf') format('truetype');
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trade Gothic LT', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h3 {
  font-size: 24px;
}
