@import 'fonts';

html,
body {
  padding: 0;
  margin: 0;
  // font-family: 'Trade Gothic LT', Arial, Helvetica, sans-serif;
  font-family: Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.links a, a.link {
  display: block;
  text-transform: uppercase;
  color: #EA3524;
  font-weight: bold;
  text-decoration: underline;
  margin: 8px 0px;

  &:hover {
    color: #000000;
  }
}
